P_NAME="akademic_be"
APP_DEBUG=true

DB_HOST=10.10.20.15
DB_PORT=1433
DB_NAME=dev-akademik-new
DB_USER=dps
DB_PASS=mko09ijn
DB_POOL_IDLE=10
DB_POOL_MAX=100
DB_POOL_LIFETIME=300

SERVER_HOST=
SERVER_PORT=9000
SERVER_PREFORK=false

JWT_PUBLIC_KEY_PATH=public_key.pem

LOGGER_LEVEL=6

MINIO_ENDPOINT_URL=10.10.20.17
MINIO_ENDPOINT_PORT=9000
MINIO_ACCESS_KEY_ID=
MINIO_SECRET_ACCESS_KEY=
USE_SSL=false
BUCKET_NAME=akademik-be
MAX_SIZE_FILE=5

SENTRY_DSN=https://b407b8a08acce4e2dde6b81f4b86269b@sentry.unsia.ac.id/11
APP_KEY_METRICS=randomvalue

REDIS_HOST=10.10.30.18:6379
REDIS_PASS=MasAgungGanteng
REDIS_DB=0

#internal
# api key internal
INTERNAL_API_KEY=
# SSO BASEURL
INTERNAL_BASE_URL_SSO=
# upload file
INTERNAL_BUCKET_NAME=sdm-be
INTERNAL_MAX_SIZE_FILE=5
INTERNAL_UPLOAD_SERVICE_ENDPOINT_PATH=api/object
# permission action
INTERNAL_PERMISSION_ACTION_ENDPOINT_PATH=/api/roles/validate/permission

# SDM BASEURL
INTERNAL_BASE_URL_SDM=
# general information
INTERNAL_GENERAL_INFORMATION_ENDPOINT_PATH=/api/internal/biographical/general-info

# DTAREFERENSI BASEURL
INTERNAL_BASE_URL_DATAREFERENSI=
# general information
INTERNAL_ACADEMIC_PERIOD_ENDPOINT_PATH=/api/internal/pmb/academic-periods/%s

# channel or topic  or topic
REDIS_STREAM_LOG_AUDIT_TRAIL=log.audit.trails.stream
