# NEXT AUTH
NEXTAUTH_SECRET=
NEXTAUTH_URL=

# API
NEXT_PUBLIC_API_BASE_URL=
NEXT_PUBLIC_API_SSO_URL=
NEXT_PUBLIC_API_DATA_REFERENSI_URL=
NEXT_PUBLIC_API_SDM_URL=

# UI SSO
NEXT_PUBLIC_UI_SSO_URL=

# OAUTH SSO
OAUTH_SSO_CLIENT_ID=0123456789abcde
OAUTH_SSO_CLIENT_SECRET=superSecretKey987!

# API KEY FOR PROMETHEUS METRICS API 
API_KEY=

# SENTRY
SENTRY_AUTH_TOKEN=

# GRAFANA FARO
NEXT_PUBLIC_FARO_URL=https://monitoring.unsia.ac.id/collect